<div id="collapse-overview" class="collapse">
    <div class="jumbotron">
        <h2>
            Overview:
        </h2>
        <p>In this task you will be categorizing images based on their real-estate definitions.</p>
        <img src="http://i.imgur.com/x1eXHeTg.png"/>

        <h3>CATEGORIZATION:</h3>
        <p>Carefully select from the available categories an appropriate classification for the image shown.</p>
        <h3>Rules and Tips:</h3>
        <ol>
            <li><i>Carefully</i> go over all available options. What might appear as an <b>indoor -> living room</b> might actually be a <b>closeup -> fireplace</b>.</li>
            <li>Example images are placed at the bottom, use these to help you make a decision.</li>
            <li>A category, like <b>indoor</b>, might have multiple levels, like <b>indoor->bathroom->full bathroom</b> or <b>indoor->bedroom->nursury</b>. The HIT will not allow you to progress unless you have reached the end of the path you've chosen.</li>
            <li>After selecting a classification, optional checkboxes are provided, asking "<b>Does the image have any of the following?</b>"</li>
        </ol>
        <button class="startTutorial">RESTART TUTORIAL</button>
    </div>
</div>
<button data-toggle="collapse" class="btn btn-info" data-target="#collapse-overview">Instructions</button>
